#h1zag {
  transition: transform 0.3s ease;
}

#h1zag:hover {
  transform: scale(1.2);
}

.content {
  transition: background-color 0.5s ease;
}

.content.active {
  background-color: yellow; /* выбери нужный тебе цвет */
}

.lectures-table {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.lectures-table.show {
  display: block;
  opacity: 1;
}



#student-image {
  transition: transform 0.5s ease;
}

#student-image:hover {
  transform: rotate(360deg);
}

